server_tokens off;

resolver %(gluu_resolver)s ipv6=off valid=10s;

server {
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;
    server_name %(gluu_domain)s;
    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl;
    ssl on;
    ssl_certificate /etc/certs/gluu_https.crt;
    ssl_certificate_key /etc/certs/gluu_https.key;
    ssl_ciphers 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA';
    ssl_prefer_server_ciphers on;
    ssl_dhparam /etc/certs/dhparams.pem;

    server_name %(gluu_domain)s;

    # security headers
    #add_header X-Frame-Options SAMEORIGIN always;
    add_header X-Xss-Protection "1; mode=block" always;
    add_header X-Content-Type-Options nosniff always;
    # add_header Content-Security-Policy "default-src 'self' 'unsafe-inline' %(gluu_domain)s" always;
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;

    location / {
        return 302 /identity;
    }

    location /oxauth {
        set $oxauth_backend %(gluu_oxauth_backend)s;
        proxy_pass http://$oxauth_backend/oxauth;
        proxy_set_header Host %(oxauth_host_header)s;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $host:$server_port;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
    }

    location /.well-known/openid-configuration {
        set $oxauth_backend %(gluu_oxauth_backend)s;
        proxy_pass http://$oxauth_backend/oxauth/.well-known/openid-configuration;
        proxy_set_header Host %(oxauth_host_header)s;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $host:$server_port;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
    }

    location /.well-known/simple-web-discovery {
        set $oxauth_backend %(gluu_oxauth_backend)s;
        proxy_pass http://$oxauth_backend/oxauth/.well-known/simple-web-discovery;
        proxy_set_header Host %(oxauth_host_header)s;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $host:$server_port;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
    }

    location /.well-known/webfinger {
        set $oxauth_backend %(gluu_oxauth_backend)s;
        proxy_pass http://$oxauth_backend/oxauth/.well-known/webfinger;
        proxy_set_header Host %(oxauth_host_header)s;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $host:$server_port;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
    }

    location /.well-known/uma2-configuration {
        set $oxauth_backend %(gluu_oxauth_backend)s;
        proxy_pass http://$oxauth_backend/oxauth/restv1/uma2-configuration;
        proxy_set_header Host %(oxauth_host_header)s;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $host:$server_port;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
    }

    location /.well-known/fido-u2f-configuration {
        set $oxauth_backend %(gluu_oxauth_backend)s;
        proxy_pass http://$oxauth_backend/oxauth/restv1/fido-u2f-configuration;
        proxy_set_header Host %(oxauth_host_header)s;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $host:$server_port;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
    }

    location /identity {
        set $oxtrust_backend %(gluu_oxtrust_backend)s;
        proxy_pass http://$oxtrust_backend/identity;
        proxy_set_header Host %(oxtrust_host_header)s;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $host:$server_port;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
    }

    location /.well-known/scim-configuration {
        set $oxtrust_backend %(gluu_oxtrust_backend)s;
        proxy_pass http://$oxtrust_backend/identity/restv1/scim-configuration;
        proxy_set_header Host %(oxtrust_host_header)s;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $host:$server_port;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
    }

    location /idp {
        set $oxshibboleth_backend %(gluu_oxshibboleth_backend)s;
        proxy_pass http://$oxshibboleth_backend/idp;
        proxy_set_header Host %(oxshibboleth_host_header)s;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $host:$server_port;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
    }

    location /passport {
        set $oxpassport_backend %(gluu_oxpassport_backend)s;
        proxy_pass http://$oxpassport_backend/passport;
        proxy_set_header Host %(oxpassport_host_header)s;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Host $host:$server_port;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
    }

}
